language: ruby

branches:
  only:
    - master

rvm:
- 1.8.7
- 1.9.3
- 2.0.0
- 2.1.10
- 2.2.5
- 2.3.4
- 2.4.1
- 2.5.0
- jruby
- rbx-2

matrix:
  allow_failures:
    - rvm: rbx-2
    - rvm: jruby

cache: bundler

before_script:
  - wget https://alg.li/algolia-keys && chmod +x algolia-keys

script:
 - if [ "$TRAVIS_PULL_REQUEST" != "false" ] && [[ ! "$TRAVIS_PULL_REQUEST_SLUG" =~ ^algolia\/ ]]; then eval $(./algolia-keys export) && bundle exec rspec; else bundle exec rspec --tag ~maintainers_only; fi
